* {
  outline: 0.5px solid blue;
}

header {
  display: flex;
  justify-content: center;
  min-width: 977px;
  padding-top: 43px;

  .header--logo {
    margin: 0 10px;
    width: 119px;
    height: auto;
  }

  .header--search {
    position: relative;
    width: 570px;
    padding: 16px 60px 14px 30px;
    border: 1px solid #cecfd1;
    border-radius: 10px;
    background-color: #fff;
  }

  .header--search--button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 23px;
    height: 23px;
  }
}

nav {
  width: 100%;
  margin-top: 40px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;

  div {
    display: flex;
    align-items: center;
  }

  .nav--regular {
    ul {
      display: flex;
      li {
        padding: 0 10px;
      }
    }
  }

  .nav__right {
    display: flex;
    margin-left: auto;
    padding: 0 20px;
    div {
      padding: 10px;
    }
  }
}

main {
  width: 1274px;

  .main--center {
    width: 1274px;

    .main--center__upper {
      display: flex;

      .main--center__upper--bestselling {
        width: 510px;
      }

      .main--center__upper--promotion {
        position: relative;
        width: 763px;
        display: flex;
        align-items: center;
        justify-content: center;

        .foo {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .main--center__upper--page {
          position: absolute;
          bottom: 8%;

          img {
            width: 15px;
          }
        }
      }
    }

    .main--center__lower {
      .main--center__lower--mdPick {
        width: 1274px / 5;
      }
    }
  }
}

.style__icon__size {
  width: 28px;
  height: 28px;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

div,
img {
  cursor: pointer;
}
